doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')

		<!--[if lte IE 8]>
		link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css')
		<![endif]-->
		<!--[if gt IE 8]><!-->
		link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
		<!--<![endif]-->
		<!--[if lte IE 8]>
		link(rel='stylesheet', href='/stylesheets/old-ie-style.css')
		<![endif]-->
		<!--[if gt IE 8]><!-->
		link(rel='stylesheet', href='/stylesheets/style.css')
		<!--<![endif]-->
		<!--[if lt IE 9]>
		script(src='http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js')
		<![endif]-->

		script(src='http://code.jquery.com/jquery-1.11.3.min.js')
		script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
		link(rel='stylesheet', href='/lib/imgcrppr/imgcrppr.css')
		script(src='/lib/imgcrppr/imgcrppr.js')
		script(src='/javascripts/main.js')

	body
		block content